.CreateTodoBtn{
    position: fixed;
    z-index: 5;
    top: 90%;
    left: 80%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    opacity: 0.9;
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-style: unset;
    box-shadow: 0px 0px 19px rgb(111 111 111 / 50%);
    cursor: pointer;
}
.CreateTodoBtn:active{
    transition: all 0.1s;
    transform: scale(1.1);
}
.Btn-Cancel{
    transform: rotate(45deg);
    transition: .2s ease-in;
    background-image: linear-gradient(to top right, #ff0844 0%, #ffb199 100%);
}
.Btn-Add{
    transform: rotate(0);
    transition: .2s ease-in;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}